version: '3.8'

services:

  spark-master:
    image: bde2020/spark-master:3.3.0-hadoop3.3
    container_name: spark-master
    ports:
      - "8080:8080"
      - "7077:7077"
      - "18080:18080"
    environment:
      - INIT_DAEMON_STEP=setup_spark
      - SPARK_WORKER_MEMORY=2g
      - SPARK_HISTORY_OPTS=-Dspark.history.fs.logDirectory=/spark-logs
    volumes:
      - ./apps:/opt/spark-apps
      - ./spark-logs:/spark-logs
      - ./spark-conf/spark-defaults.conf:/spark/conf/spark-defaults.conf
      - ./spark-conf/spark-env.sh:/spark/conf/spark-env.sh
    networks:
      - bigdata_network

  spark-worker:
    image: bde2020/spark-worker:3.3.0-hadoop3.3
    container_name: spark-worker
    depends_on:
      - spark-master
    ports:
      - "8081:8081"
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2g
    volumes:
      - ./apps:/opt/spark-apps
    networks:
      - bigdata_network

  namenode:
    build: ./namenode
    container_name: namenode
    ports:
      - "9870:9870"
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
      - ./pig-scripts:/opt/pig-scripts
    environment:
      - CLUSTER_NAME=test
      - CORE_CONF_fs_defaultFS=hdfs://namenode:8020
    networks:
      - bigdata_network

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    depends_on:
      - namenode
    volumes:
      - hadoop_datanode:/hadoop/dfs/data
    environment:
      - SERVICE_PRECONDITION=namenode:9870
      - CORE_CONF_fs_defaultFS=hdfs://namenode:8020
    networks:
      - bigdata_network

networks:
  bigdata_network:
    driver: bridge

volumes:
  hadoop_namenode:
  hadoop_datanode:
